Dropping coonstant features

In [4]:
import pandas as pd
data = pd.DataFrame({"A":[1,2,3,4,5],
                    "B":[6,7,8,9,10],
                    "C":[0,0,0,0,0],
                    "D":[1,1,1,1,1]})

In [5]:
data.head()

   A   B  C  D
0  1   6  0  1
1  2   7  0  1
2  3   8  0  1
3  4   9  0  1
4  5  10  0  1

# Here there are columns C  and D which are constants , so there is no use with that data

Variance Threshold

Feature which removes all the low -variance features

this feature only looks at inputs(x)and it doesnot look at the output
(y)

In [10]:
from sklearn.feature_selection import VarianceThreshold

var_thres = VarianceThreshold(threshold=0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [15]:
const_colums = [columns for columns in data.columns
                if columns not in data.columns[var_thres.get_support()]]

In [16]:
var_thres.get_support()

array([ True,  True, False, False])

Here we can see that we have given that threshold = 0 means constant if at all the varaince is 0 then the columns comes as false ,or else it comes as True

In [17]:
print(len(const_colums))

2

In [18]:
data.drop(const_colums,axis=1)

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

So now we are removing the constant columns in the data