In [1]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [14]:
data =pd.DataFrame({"A":[1,2,3,4,5],
                 "B":[6,7,8,9,10],
                 "C":[0,0,0,0,0],
                 "D":[1,1,1,1,1]})

In [15]:
data.head()

   A   B  C  D
0  1   6  0  1
1  2   7  0  1
2  3   8  0  1
3  4   9  0  1
4  5  10  0  1

In [16]:
data.shape

(5, 4)

In [20]:
var_thres.get_support()

array([ True,  True, False, False])

In [19]:
var_thres = VarianceThreshold(threshold=0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [22]:
constant_columns = [columns for columns in data.columns
                   if columns not in data.columns[var_thres.get_support()]]
print(len(constant_columns))

2

In [23]:
for feature in constant_columns:
    print(feature)

C
D

In [24]:
data.drop(constant_columns,axis=1)

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

#x=df.drop(labels=['Target'],axis=1)
#y= df['Target']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(
     x,y,axis=1,test_size=0.3,random_state=0)